---
layout: default
---

<main id="main" class="main-content" aria-label="Content">
  <article class="h-entry">
    <div class="page-wrapper">
      <header class="page-header">
        {% assign title = page.title | markdownify | strip_html %}
        {% if page.link %}
        <h3 id="page-title" class="page-title"><a href="{{ page.link }}">{{ title }} <span
              class="link-arrow">&rarr;</span></a></h3>
        {% else %}
        <h3 id="page-title" class="page-title">{{ title }}</h3>
        {% endif %}
      </header>

      <div class="page-sidebar">
        {% include page-categories.html %}
        {% include page-tags.html %}
      </div>

      <div class="page-content">
        <div class="e-content">
          {{ content }}
        </div>

        {% if site.disqus.shortname %}
        {% include disqus-comments.html %}
        {% endif %}

        {% include page-pagination.html %}
      </div>
    </div>
  </article>
</main>